<section class="header" fxLayout="row" fxLayoutAlign="space-between center">
  <article
    class="container"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div>
      <img
        class="pointer"
        src="assets/logo_itau_bba.png"
        height="60px"
        alt="Logo Itaú BBA"
        routerLink="/"
      />
    </div>

    <div fxLayout="row" fxLayoutGap="10px">
      <div fxLayoutAlign="center center">
        <button class="btn" (click)="toggleLanguage()">{{ locale }}</button>
      </div>

      <div class="divider"></div>

      <button
        class="btn"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
      >
        <span
          class="rounded-circle d-none d-sm-block"
          style="height: 40px; width: 40px; background-color: #363636"
        ></span>

        <div fxLayout="column" fxLayoutAlign="center start">
          <span class="small" style="color: 030003">John Doe</span>
          <div fxLayout="row" fxLayoutGap="15px">
            <span class="small d-none d-sm-block" style="color: #625851">Diretor Itaú BBA</span>
          </div>
        </div>

        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </article>
</section>

<section class="container mb-3">
  <router-outlet></router-outlet>
</section>
